{% extends 'core/base.html' %}

{% load static %}

{% block title %}Modificacion de cliente{% endblock %}

{% block content %}
        <div class="row mt-3 ml-3">
            <div class="col-md-9">
                <div>
                    <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                            <input type="submit" value="Actualizar cliente">
                    </form>
                </div>
            </div>
        </div>
{% endblock %}