{% extends 'core/base.html' %}

{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block title %}Clientes{% endblock %}

{% block content %}
    <h1>Clientes</h1>
    <br>
    <a class="btn btn-primary" href="{% url 'crear_cliente' %}">Alta de nuevo cliente</a>
    <br>
    <br>
    <!--
    <form action="" method="get">
        {{ filter.form.as_table }}
        <input type="submit" />
    </form>
    -->
    <form method="GET">
        <div class="well">
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.nombre.label_tag }}
                    {% render_field filter.form.nombre class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.direccion.label_tag }}
                    {% render_field filter.form.direccion class="form-control" %}
                </div>
                <div class="form-group col-sm-4 col-md-3">
                    {{ filter.form.tipo_cliente.label_tag }}
                    {% render_field filter.form.tipo_cliente class="form-control" %}
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Filtrar</button>
            </div>
        </div>
    </form>
    <br>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono 1</th>
                <th scope="col">Telefono 2</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in filter.qs %}
                <tr>
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.telefono1}}</td>
                    <td>{{cliente.telefono2}}</td>
                    <td><a class="btn btn-primary" href="{% url 'cliente' cliente.id %}">Ver</a></td>
                    <td><a class="btn btn-info" href="{% url 'modificar_cliente' cliente.id %}">Editar</a></td>
                    <td><a class="btn btn-danger" href="{% url 'eliminar_cliente' cliente.id %}">Eliminar</a></td>
                    <td><a class="btn btn-secondary" href="{% url 'cliente' cliente.id %}">Visitas</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}